<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic data with ejs</title>
    <style>
        body{background: orange;}
    </style>    
</head>
<body>
    <h1><%- include ('./partials/nav.ejs') %></h1>
    <h1>Render html dynamic data with ejs.</h1>
    <h3>dyanmically passed id: <%= id %></h3>
    <!-- used for data -->
    <h3>Age <%= data.age %></h3>
    <h3>Name <%= data.name %></h3>
    <h3>Aggreagated dynamic data;-</h3>
    <%= data.fruits %> 
    <ul>
        <!-- used for code/javascript -->
        <% data.fruits.forEach(function(item){ %>
            <li><%= item %></li>
        <% }) %>
    </ul>
</body>
</html>